
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
   background: linear-gradient(
     to right, #000428,
    #004e92,#000428);
     background-size: 400% 400%;
     animation: animated-bg 10s infinite ease-in-out;
  
  }
  @keyframes animated-bg {
    0%{
      background-position: 0 50%;

    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }
  body.loaded {
    margin: 20px 40px;
    transition: margin ease 1.5s;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  @keyframes logo_load {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes nav_load {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0a192f;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #8892b0;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ccd6f6;
  }
  
  header {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 20;
    margin: 20px 0px 0px 0px;
    align-items: right;
    animation: fadein 1s ease-out 0s 1;
  }
  
  header .logo img {
    max-height: 70px;
  }
  header .logo_name {
    color: #8892b0;
    border: 30px;;
    font-size: 25px;
    margin-left: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    animation: logo_load 1s ease 0s 1;
  }
  
  header .nav {
    margin-left: auto;
    animation: nav_load 1s ease 0s 1, fadein 4s ease 0s 1;
  }
  header .bx-menu{
    font-size: 20px;
    display: none;
  }
  header .nav ul{
    display: flex;
  }
  header .nav a {
    text-decoration: none;
    display: block;
    padding: 15px;
    margin-right: 5px;
    color: #ccd6f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header .nav a:last-child {
    margin-right: 0;
  }
  
  header .nav a:hover:not(.active) {
    color: #2a534b;
  }
  
  header .nav li a.active {
    color: #4ec5af;
    border-bottom: 2px solid #4ec5af;
  }
  
  header .nav li {
    display: inline-block;
  }
  
  header .nav ul li a:not(.active):after {
    content: "";
    display: block;
    margin: 15px auto 0 auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  
  header .nav ul li a:hover:not(.active):after {
    width: 100%;
    background: #4ec5af;
  }
  
  
  .flex-container {
    display: flex;
    margin-top: 100px;
    position: relative;
  }
  
  .left-side {
    flex: 15%;
    font-size: 30px;
    padding-top: 40px;
    align-self: flex-start;
    position: sticky;
    top: 250px;
  }
  
  .left-side ul li {
    list-style-type: none;
    padding: 5px;
  }
  
  .left-side ul li a {
    text-decoration: none;
    color: #8892b0;
  }
  
  .left-side ul li a:hover {
    animation: pulsate 1s
    ease-in-out;
  }
  
  @keyframes pulsate{
    0%{
      box-shadow: 
      0 0 25px #4ec5af,
      0 0 50px #4e00c2;
    }
  }
  .left-side .vertical {
    border-left: 2px solid #8892b0;
    height: 100%;
    position: absolute;
    left: 18px;
    bottom: -310px;
  }
  
  .content {
    flex: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .content h1 {
    color: #ccd6f6;
    line-height: 1.5;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .content h3 {
    line-height: 3;
    color: #4ec5af;
  }
  
  .content p {
    color: #ccd6f6;
    line-height: 1.6;
    font-size: 20px;
  }
  
  .content .heading {
    color: #4ec5af;
    font-size: 30px;
    position: relative;
    line-height: 2;
  }
  
  .content .heading:after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background: #4ec5af;
    position: absolute;
    left: 150px;
    top: 50%;
  }
  
  .content .aboutGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  .aboutGrid .profile-image img {
    height: 350px;
    width: 300px;
  
    padding: 5px;
  
    border-radius: 8px;
  }
  
  .profile-image .img-area {
    position: relative;
    display: block;
    height: 350px;
    width: 300px;
    border: 2px solid #29312f;
    padding: 5px;
    margin: 0 0 100px 100px;
    border-radius: 8px;
  }
  
  .profile-image .img-area .overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: 0.5s ease;
    background-color: #29312f;
  }
  
  .profile-image .img-area:hover .overlay {
    opacity: 0;
  }
  
  .content .aboutGrid p {
    margin-right: 0px;
  }
  .content p {
    margin-right: 200px;
    text-align: justify;
  }
  
  .content .gridforSkill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 200px 20px 0px;
    justify-content: space-between;
    color: #ccd6f6;
  }
  
  
  .content .gridforSkill .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 20px 0;
  }
  
  .content .gridforSkill i {
    color: #ccd6f6;
    font-size: 50px;
  }
  
  .content .gridforSkill .desc {
    font-size: 20px;
    color: #8892b0;
  }
  
  .content .gridforSkill .flex-box:hover i {
    color: #4ec5af;
  }
  
  .project-container {
    display: flex;
    margin: 30px 100px 30px 0px;
  }
  
  .project-container .project-image img {
    max-width: 500px;
    height: 300px;
    border: 2px solid #4ec5af;
    border-radius: 8px;
  }
  
  .project-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -150px;
  }
  
  .project-desc .title {
    color: #ccd6f6;
    margin-left: auto;
  }
  
  .project-desc .title-desc {
    position: relative;
    z-index: 10;
    color: #8892b0;
    background-color: #112240;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .project-desc .title-desc div {
    margin: 10px;
  }
  .project-desc .techs {
    margin-left: auto;
    margin-top: 10px;
    color: #ccd6f6;
  }
  
  .project-desc .git-link {
    margin-left: auto;
    margin-top: 10px;
    font-size: 30px;
  }
  
  .project-desc .git-link a {
    color: #8892b0;
    text-decoration: none;
  }
  
  #contact .contact-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 50px;
  }
  .contact-flex p{
    margin: 20px 100px 20px 40px;
  }
  .right-side {
    flex: 10%;
    color: #8892b0;
    align-self: flex-start;
    position: sticky;
    top: 250px;
  }
  
  .right-side .gmail {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    writing-mode: vertical-lr;
  
    position: relative;
    right: -65px;
  }
  
  .right-side .gmail a {
    text-decoration: none;
    color: #8892b0;
  }
  
  .right-side .gmail a:hover {
    color: #4ec5af;
  }
  
  .right-side .vertical {
    border-left: 2px solid #8892b0;
    writing-mode: vertical-lr;

    height: 250px;
    position:relative;
    right: -70px;
    bottom: -10px;
  }
  
  .btn{
    color:#4ec5af;
    text-decoration: none;
    position:relative;
    font-size: 25px;
    padding:10px 30px;
    text-decoration: none;
    display: inline-block;
    border:3px solid #4ec5af;
  
  }
  .btn::before,
  .btn::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
  }
  .btn::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
  }
  .btn::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;

  }
  .btn:hover::before,
  .btn:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
  }
.icon{
  font-size: 34px;

}
.icons-wrapper ul li {
  display: inline-block;
  list-style-type: none;
 margin-top: 100px;
  padding: 5px;
  align-items: center;
}

.icons-wrapper ul li a {
  text-decoration: none;
  color: #8892b0;
}
.icons-wrapper ul li a:hover {
  animation: pulsate 1s
  ease-in-out;
}

@keyframes pulsate{
  0%{
    box-shadow: 
    0 0 50px #009ec2,
    0 0 25px #4ec5af;
  }
}










  @media only screen and (max-width: 600px){
   .right-side{display: none;}
   
   content{
      max-width: 100%;
      margin:0px;
    }

    body.loaded{
      margin: 10px;
    }

    #home h1{
      font-size: 40px;
    }
    .content .heading:after{
      width: 60%;
    }
    .content-flex p{
      margin-right: 0px;
    }
    .bottom-link ul {
      display: flex;
    }
    
    header #menu{
      z-index:2;
    }
    header #menu-bar{
      width: 45px;
      height: 40px;
      margin: 40px -170px 20px 170px;
      cursor: pointer;

    }
    header .bar{
    
      height: 5px;
      width: 100%;
      background-color: white;
      display: block;
      border-radius:5px;
      transition: 0.3 ease;
    }
    header #bar1{
      transform: translateX(2px);    }
    header #bar2{
      transform: translateX(2px);    }
  
    header #bar3{
      transform: translateX(2px);
    }

    header .nav{
    transition: 0.3s ease;
    display: none;
   
  }  
  header .nav ul{
    padding: 0;
    margin: 0 -200px 0 0px;
    width: 200px;
    height: 150px;
    display: block;
    
  }
  header .nav li{
    padding: 7px 5px;
    float: left;
    margin: 0 0 0 0;
   
  }
  
  header .nav li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    

  }
  header .nav li a:hover{
    font-weight: bold;

  }
  header .menu-bg, #menu{ 
    top: 0;
    right:0;
    position: absolute;
  }
  header .menu-bg{
    z-index: -1;
    background: radial-gradient(circle, #29312f,#29312f);
    border-radius: 60% 0 0 60%;
    width: 0;
    height: 0;
    transition: 0.3s ease;
  }
  header .change{
    display: block;
  }
  header .change .bar {
    background-color: antiquewhite;
  }
  header .change #bar1{
    transform: translateY(6px)
    rotateZ(45deg);
  }
  header .change #bar2{
    opacity: 0;

  }
  header .change #bar3{
    transform: translateY(-1px)
    rotateZ(-45deg);
  }
  header .change-bg{
    top: 0;
    width: 355px;
    height: 600px;
    transform: translate(60%,-3%);
  }

}
